# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml,xml,Config,props,csproj}]
indent_size = 2

[*.cs]

#Formatting

#sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first = true

#do not place space characters after the opening parenthesis and before the closing parenthesis of a method call
csharp_space_between_method_call_parameter_list_parentheses = false

#place a space character after the opening parenthesis and before the closing parenthesis of a method declaration parameter list.
csharp_space_between_method_declaration_parameter_list_parentheses = false

#prefer block bodies for constructors
csharp_style_expression_bodied_constructors = false:suggestion

#prefer accessibility modifiers to be declared except for public interface members. This will currently not differ from always and will act as future proofing for if C# adds default interface methods.
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# Diagnostic - Documentation

# missing XML comment
dotnet_diagnostic.CS1591.severity = none

# xml comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# elements must be documented
dotnet_diagnostic.SA1600.severity = none

# partial elements must be documented
dotnet_diagnostic.SA1601.severity = none

# enum items must be documented
dotnet_diagnostic.SA1602.severity = none

# elements must have summary documentation
dotnet_diagnostic.SA1604.severity = none

# partial elements must have summary documentation
dotnet_diagnostic.SA1605.severity = none

# parameters must be documented
dotnet_diagnostic.SA1611.severity = none

# return values must be documented
dotnet_diagnostic.SA1615.severity = none

# constructor summary must begin with standard text
dotnet_diagnostic.SA1642.severity = none

# Diagnostic - Generic Constraints

# Do not catch general exception types
dotnet_diagnostic.CA1031.severity = warning

# Do not use Count() or LongCount() when Any() can be used
dotnet_diagnostic.CA1827.severity = warning

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = warning

# Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = warning

# Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = warning

# Constants should appear before fields
dotnet_diagnostic.SA1203.severity = warning

# Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = warning
