[*.cs]

# No Documentation Rules
# Description: Code analysis rules to disable doc-comments.

# missing XML comment for parameter
dotnet_diagnostic.CS1573.severity = none

# missing XML comment for public type
dotnet_diagnostic.CS1591.severity = none

# missing XML comment for type parameter
dotnet_diagnostic.CS1712.severity = none

# elements must be documented
dotnet_diagnostic.SA1600.severity = none

# partial elements must be documented
dotnet_diagnostic.SA1601.severity = none

# enum items must be documented
dotnet_diagnostic.SA1602.severity = none

# elements must have summary documentation
dotnet_diagnostic.SA1604.severity = none

# partial elements must have summary documentation
dotnet_diagnostic.SA1605.severity = none

# parameters must be documented
dotnet_diagnostic.SA1611.severity = none

# return values must be documented
dotnet_diagnostic.SA1615.severity = none

# constructor summary must begin with standard text
dotnet_diagnostic.SA1642.severity = none
